/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/*
===============
Variables
===============
*/

:root {
  /* colors */
  /* primary colors */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /* accent colors */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /* neutral */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  --clr-white: #fff;
  --clr-black: #222;
  /* fonts */
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --max-width: 1280px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  color: var(--desaturated-blue);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  color: var(--very-dark-blue);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.img:not(.logo) {
  display: block;
  width: 100%;
}

/* 
============
Header
============ 
*/
header.section {
  padding-top: 24px;
  padding-bottom: 0;
}
.header-center {
  width: 87.2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo */
.header-logo {
  width: 80px;
  height: 24px;
}
/* links */
.header-links {
  display: flex;
  gap: 24px;
}
.header-link a {
  font-size: 0.75rem;
  color: var(--very-dark-blue);
  font-family: var(--ff-primary);
}
@media screen and (min-width: 768px) {
  header.section {
    padding-top: 65px;
  }

  /* logo */
  .header-logo {
    width: 166px;
    height: 49px;
  }
  /* links */
  .header-links {
    gap: 57px;
  }
  .header-link a {
    font-size: 1rem;
  }
}
/* 
============
Hero
============ 
*/
.hero-section {
  padding-top: 6.12rem;
  padding-bottom: 5.62rem;
}
.hero-center {
  width: 85.06vw;

  display: grid;
  row-gap: 2.5rem;
}
/* hero image */
.hero-img {
  display: block;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* hero banner */
.hero-banner {
  text-align: center;
}
.hero-banner-title {
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 2.25rem;

  margin-bottom: 1.5rem;
}
.hero-banner-text {
  color: var(--very-dark-blue);
  font-size: 0.875rem;
  line-height: 1.3125rem;

  margin-bottom: 2rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
/* banner form */
.hero-banner-form {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-banner-form input,
.hero-banner-form button {
  margin: 0 auto;
  width: 100%;
  height: 2.5rem;
  border-radius: 3.13px;
  border: transparent;
  max-width: 20rem;
}
.hero-banner-form input {
  border: 0.6px solid var(--very-dark-blue);
  padding: 14px 21px 12px;
  font-family: var(--ff-primary);
}
input::placeholder {
  color: #c2c2c2;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.hero-banner-form button {
  background: var(--bright-blue);
  color: var(--clr-white);
  font-size: 14px;
  font-weight: 700;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 5.37rem;
    padding-bottom: 10.25rem;
  }
  .hero-center {
    width: 85.06vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 2.5rem;
  }
  /* hero image */
  .hero-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    order: 2;
  }
  /* hero banner */
  .hero-banner {
    text-align: left;
  }
  .hero-banner-title {
    font-size: 2.5rem;
    line-height: 3.75rem;
    font-family: var(--ff-primary);
    margin-bottom: 0.94rem;
  }
  .hero-banner-text {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    letter-spacing: 0.03319rem;
    max-width: 36.5625rem;

    margin: 0;
    margin-bottom: 1.56rem;
  }
  /* banner form */
  .hero-banner-form {
    margin: 0;
    display: flex;
    flex-direction: row;
    max-width: 536px;
  }
  .hero-banner-form input,
  .hero-banner-form button {
    margin: 0;
    width: 100%;
    height: 2.8125rem;
    max-width: unset;
  }
  .hero-banner-form input {
    padding: 14px 21px 12px;
    font-family: var(--ff-secondary);
    font-size: 0.875rem;
    letter-spacing: 0.02919rem;

    flex: 0 1 20rem;
  }
  input::placeholder {
    color: #c2c2c2;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  .hero-banner-form button {
    background: var(--bright-blue);
    color: var(--clr-white);
    font-size: 14px;
    font-weight: 700;

    flex: 0 1 12.5rem;
    cursor: pointer;
  }
  .hero-banner-form button:hover {
    background: hsla(221, 100%, 71%, 1);
  }
}
/* 
============
Productive
============ 
*/
.productive-section {
  position: relative;
  padding-top: 5.81rem;
  padding-bottom: 5.12rem;
  background: var(--light-grayish-blue) content-box;
}
.productive-section::before,
.productive-section::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  pointer-events: none;
}
.productive-section::before {
  height: 100%;
  top: 0;
  background: url(./images/bg-curve-mobile.svg) no-repeat top center/ 100%
    5.81rem;
}
.productive-section::after {
  height: 5.12rem;
  background: var(--light-grayish-blue);
  bottom: 0;
}
.productive-center {
  width: 85.06vw;

  display: grid;
  row-gap: 5.44rem;
}
/* Productive image */

/* Productive's article */
.productive-info {
  text-align: center;
}
.prod-title {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.prod-text {
  color: var(--very-dark-blue);
  font-size: 0.875rem;
  line-height: 1.3125rem;
  max-width: 33.0625rem;
}
.prod-text:nth-child(2) {
  margin-bottom: 1rem;
}
.prod-text:nth-child(3) {
  margin-bottom: 2.25rem;
}
/* productive button */
.prod-how-it-works {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  border-bottom: 1px solid var(--moderate-cyan);
  color: var(--moderate-cyan);
  font-size: 12px;

  font-size: 0.75rem;

  width: 130px;
  padding-bottom: 0.38rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.prod-how-it-works :last-child {
  width: 0.75rem;
  height: 0.75rem;
}
/* testimonial CARD */
.prod-testimonial {
  color: var(--very-dark-blue);
  text-align: left;
  padding: 2.12rem 1.62rem;
  max-width: 22.25rem;

  border-radius: 3.933px;
  background: #fff;
  box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.05);
}
/* img */
.prod-testimonial img {
  margin-bottom: 0.625rem;
}
/* text */
.prod-testimonial p {
  margin-bottom: 0.78rem;
}
/* user info */
.user-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "avatar name"
    "avatar position";
  row-gap: 0.11rem;
  column-gap: 0.47rem;
}
.user-info .avatar-pic {
  grid-area: avatar;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0;
}
.user-info .name {
  grid-area: name;
  align-self: center;

  color: var(--very-dark-blue);
  font-size: 0.5625rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
  letter-spacing: 0.02813rem;
}
.user-info .position {
  align-self: center;
  grid-area: position;

  color: var(--very-dark-blue);
  font-size: 0.375rem;
  font-family: var(--ff-secondary);
  line-height: 0.73738rem;
  letter-spacing: 0.01875rem;
}
@media screen and (min-width: 768px) {
  .productive-section {
    padding-top: 11.12rem;
    padding-bottom: 10.81rem;
    background: var(--light-grayish-blue) content-box;
  }
  .productive-section::before,
  .productive-section::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    pointer-events: none;
  }
  .productive-section::before {
    height: 100%;
    top: 0;
    background: url(./images/bg-curve-desktop.svg) no-repeat top center/ 100%
      11.12rem;
  }
  .productive-section::after {
    height: 10.81rem;
    background: var(--light-grayish-blue);
    bottom: 0;
  }
  .productive-center {
    grid-template-columns: calc(60% - 5.62rem) 40%;
    align-items: center;
    row-gap: unset;
    column-gap: 5.62rem;
  }
  /* Productive image */
  .productive-center .img {
    order: 2;
  }
  /* Productive's article */
  .productive-info {
    text-align: left;
  }
  .prod-title {
    line-height: unset;
    font-size: 2.5rem;
    font-family: var(--ff-primary);
    font-weight: 700;
    /* width:41rem; */

    margin-bottom: 2.38rem;
  }
  .prod-text {
    color: var(--very-dark-blue);
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .prod-text:nth-child(2) {
    margin-bottom: 1rem;
  }
  .prod-text:nth-child(3) {
    margin-bottom: 0.94rem;
  }
  /* productive button */
  .prod-how-it-works {
    font-size: 1rem;

    width: 10.375rem;
    padding-bottom: 0.25rem;
    margin: 0;
    margin-bottom: 2.81rem;
  }

  /* testimonial CARD */
  .prod-testimonial {
    text-align: left;
    padding: 1.81rem 2.06rem 1.63rem;

    border-radius: 3.933px;
    background: #fff;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.05);
  }
  /* text */
  .prod-testimonial p {
    margin-bottom: 1rem;
  }
  /* user info */
  .user-info {
    row-gap: 0rem;
    column-gap: 0.5rem;
  }
  .user-info .avatar-pic {
    width: 2rem;
    height: 2rem;
  }
  .user-info .name {
    font-size: 0.6875rem;
    letter-spacing: 0.03438rem;
  }
  .user-info .position {
    font-size: 0.5rem;
    line-height: 0.9375rem;
    letter-spacing: 0.025rem;
  }
}
/* 
============
CTA
============ 
*/
.cta-section {
  padding-top: 3.38rem;
  padding-bottom: 4.44rem;
  background: var(--desaturated-blue);
  color: white;
}
.cta-center {
  width: 85.06vw;
  display: grid;
  row-gap: 1.5rem;
}
/* cta card */
.cta-card {
  text-align: center;
}
.cta-title {
  color: var(--clr-white);
  font-size: 18px;
  font-family: var(--ff-primary);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 1rem;
}
.cta-text {
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: Open Sans;
  line-height: 1.3125rem;
  max-width: 33.3125rem;
}
/* cta form */
.cta-form {
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta-form input,
.cta-form button {
  margin: 0 auto;
  width: 100%;
  height: 2.5rem;
  border-radius: 3.13px;
  border: transparent;
  width: 15rem;
}
.cta-form input {
  border: 0.6px solid var(--very-dark-blue);
  padding: 14px 21px 12px;
  font-family: var(--ff-primary);
}
input::placeholder {
  color: #c2c2c2;
  font-size: 12px;
  letter-spacing: 0.4px;
}
.cta-form button {
  background: var(--bright-blue);
  color: var(--clr-white);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cta-section {
    padding-top: 6.25rem;
    padding-bottom: 5.31rem;
  }
  .cta-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    justify-items: start;
    align-items: center;
  }
  /* cta card */
  .cta-card {
    text-align: left;
  }
  .cta-title {
    font-size: 2rem;
    line-height: 3rem;

    margin-bottom: 1.06rem;
  }
  .cta-text {
    margin: 0;

    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03125rem;
  }
  /* cta form */
  .cta-form {
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    justify-self: end;
  }
  .cta-form input,
  .cta-form button {
    margin: 0;
    width: auto;
    height: 3rem;
    border-radius: 3.13px;
    border: transparent;
  }
  .cta-form input {
    border: 0.6px solid var(--very-dark-blue);
    padding: 1rem 1.38rem;
    font-family: var(--ff-primary);
    font-size: 0.75rem;
    width: auto;
    max-width: 30rem;
  }
  input::placeholder {
    color: #c2c2c2;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  .cta-form button {
    font-size: 0.875rem;
    font-family: var(--ff-primary);
    font-weight: 700;

    max-width: 12.5rem;
    transition: var(--transition);
  }
  .cta-form button:hover {
    background: hsla(221, 100%, 71%, 1);
  }
}
/* 
============
Footer
============ 
*/
.footer {
  background: var(--very-dark-blue);
}
.footer-center {
  width: 78vw;
}
/* logo */
.footer-logo {
  display: inline-block;
  height: 30px;
  width: 105px;
  background: var(--clr-white);
  -webkit-mask: url(./images/logo.svg) no-repeat center/100% 100%;
  mask: url(./images/logo.svg) no-repeat center/100% 100%;

  margin-bottom: 2rem;
}
/* footer content */
.footer-content {
  display: grid;
  row-gap: 2rem;
}
.footer-content a {
  color: var(--clr-white);
  text-transform: capitalize;
}

/* CONTACTS */
.contact * {
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* contacts icon */
.contact * img {
  width: 1.5rem;
  height: 1.5rem;
}
/* contacts text */
.contact * span {
  color: var(--clr-white);
  line-height: 1.5rem;
}

.phone {
  margin-bottom: 1rem;
}

/* LINKS */
.footer-links {
  display: grid;
  row-gap: 1rem;
}

.footer-links a {
  transition: var(--transition);
}
.footer-links a:hover {
  color: var(--bright-blue);
}

/* SOCIALS */
.social-icons {
  justify-self: center;
  width: 104px;
  display: flex;
  justify-content: space-between;
}
.social-icons a {
  display: grid;
  place-items: center;
  width: 27px;
  height: 27px;
  border: 0.8px solid var(--clr-white);
  border-radius: 50%;
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--bright-blue);
  border-color: var(--bright-blue);
}
@media screen and (min-width: 768px) {
  .footer {
    background: var(--very-dark-blue);
  }
  /* logo */
  .footer-logo {
    display: inline-block;
    height: 39px;
    width: 135px;
    background: var(--clr-white);
    -webkit-mask: url(./images/logo.svg) no-repeat center/100% 100%;
    mask: url(./images/logo.svg) no-repeat center/100% 100%;

    margin-bottom: 2.31rem;
  }
  /* footer content */
  .footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    row-gap: 2rem;
  }
  .footer-content a {
    color: var(--clr-white);
    text-transform: capitalize;
  }

  /* CONTACTS */
  .contact * {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  /* contacts icon */
  .contact * img {
    width: 1.5rem;
    height: 1.5rem;
  }
  /* contacts text */
  .contact * span {
    color: var(--clr-white);
    line-height: 1.5rem;
  }

  .phone {
    margin-bottom: 1rem;
  }

  /* LINKS */
  .footer-links {
    display: grid;
    row-gap: 1rem;
  }

  /* SOCIALS */
  .social-icons {
    justify-self: center;
    width: 104px;
    display: flex;
    justify-content: space-between;
  }
  .social-icons a {
    display: grid;
    place-items: center;
    width: 27px;
    height: 27px;
    border: 0.8px solid var(--clr-white);
    border-radius: 50%;
  }
}
